.footer{
    width: 100%;
    background-color: rgba(245, 245, 245, 1);;
    box-sizing: content-box;
    padding-top:3rem;
    padding-bottom:2rem;
}
.footer-image{
    margin-bottom:1rem;
}
.footer-description h4{
    font-size: 1.35rem;
    margin-bottom: 1.8rem;
}
.footer-description a, .end a{
    text-decoration: none;
}
.footer-description a:hover, .end a:hover{
    text-decoration: underline;
    /* color:blue */
}
.end{
    margin-top:4rem;
}

@media screen and (min-width:800px) {
    .footer-center{
        display:flex;
        align-items: center;
        gap:50px;
        margin-bottom:3rem;
    }
    .footer-description{
        display:flex;
        justify-content: space-between;
        gap:20px;
    }
    .end{
        display:flex;
        justify-content: space-between;
        align-items: center;
        /* margin-bottom:0; */
        /* padding:0; */
    }
    
}
@media screen and (min-width:966px) {
    .footer-center{
        gap:100px;
        margin-bottom:3rem;
    }
    .footer-description{
        gap:70px;
    }
    
}
@media screen and (min-width:1190px) {
    .footer{
        /* padding:0; */
        /* padding-top:4rem; */
        padding-bottom: 0;
    }
    .footer-center{
        display:flex;
        align-items: center;
        gap:200px;
        margin-bottom:3rem;
    }
    .footer-img{
        width:20vw;
        height:100%;
    }
    .footer-description{
        display:flex;
        justify-content: space-between;
        gap:50px;
    }
    .end{
        display:flex;
        /* justify-content: space-between; */
        gap:100px;
        margin:0 auto;
        /* margin-bottom:0; */
        /* padding:0; */
    }
    .f-link li {
        display:inline-block;
        /* justify-content: space-between; */
        margin-right:24px;
        
    }
    
}