.footer{
    width: 100%;
    background-color: rgba(245, 245, 245, 1);;
    box-sizing: content-box;
    padding:3rem 0;
}
.footer-image{
    margin-bottom:1rem;
}
.footer-description h4{
    font-size: 1.35rem;
    margin-bottom: 1.8rem;
}
.footer-description a, .end a{
    text-decoration: none;
}
.footer-description a:hover, .end a:hover{
    text-decoration: underline;
    color:blue
}
.end{
    margin-top:4rem;
}

@media screen and (min-width:900px) {
    .footer{
        padding:0;
        padding-top:4rem;
    }
    .footer-center{
        display:flex;
        align-items: center;
        gap:235px;
        margin-bottom:3rem;
    }
    .footer-img{
        width:20vw;
        height:100%;
    }
    .footer-description{
        display:flex;
        justify-content: space-between;
        gap:100px;
    }
    .end{
        display:flex;
        /* justify-content: space-between; */
        gap:200px;
        margin:0 auto;
        /* margin-bottom:0; */
        /* padding:0; */
    }
    .f-link li {
        display:inline-block;
        /* justify-content: space-between; */
        margin-right:24px;
        
    }
    
}