.location-section{
    background-color:#101010;
}
.info h3, .info p{
    color:var(--clr-white);
}
.loc p {
    color:var(--clr-white);
    text-align: center;
    font-size: 1.2rem;
}
.location{
    margin-top:2.9rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 2px solid black; */
    width:90vw;

}
.loc-img {
     /* border: 2px solid red; */
    width:27vw;
    border-radius: 15px;
    transition: var(--transition);
    /* transform: translateY(0); */

}
.loc-img:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px red;
    transform: translateY(-10px);
}
@media screen and (min-width:1170px) {
    .location-center{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .info{
        width:45vw;
    }
    .location{
        width:45vw;
    }
    .loc-img{
        width:13vw;
    }

    .info p{
        display:none;
    }
    .discover-btn{
        margin-top:1.3rem;
    }
    .info h3{
        font-weight: 3rem;
    }
    .btn{
        font-size: small;
    }
    
}
