@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Quicksand:wght@300;500&display=swap');
:root {
  --clr-primary: #e91111;
  --clr-primary-light: #f2e8d9;
  --clr-primary-2: rgb(148, 166, 88);
  --clr-grey-10: #0e0b21;
  --clr-white: #fff;
  --ff-primary: 'Montserrat Alternates', sans-serif;
  --ff-secondary: 'Quicksand', sans-serif;
  --transition: all 0.4s linear;
  --spacing: 0.25rem;
  --radius: 1.2rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-10);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img:not nav{
  width: 100%;
  display: block;
} 
h1,
h2,
h3,
h4 {
  /* letter-spacing: var(--spacing); */
  line-height: 1.25;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 0.85rem;
}
h4 {
  font-size: 0.75rem;
}
p {
  text-transform: capitalize;
  max-width:35rem;
  margin-bottom: 1.55rem;
  font-size: 1.2rem;
  color: var(--clr-grey-10);
}

.btn {
  text-transform: capitalize;
  /* letter-spacing: var(--spacing); */
  border-radius: var(--radius);
  transition: var(--transition);
  display: inline-block;
  padding: 0.75rem 1rem;
  background: var(--clr-primary);
  border: none;
  font-size: 1.1rem;
  color:var(--clr-white);
  font-weight: bold;
  cursor: pointer;
}

.section {
    padding: 4rem 0;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    /* max-width: 1170px; */
}

.navbar{
    padding:1rem 0;
    height:4rem;
    margin-bottom: 0.3rem;
}

.logo-nav{
    width:40px;
    height:40px;
}

form, .nav-events span{
    display:none;
    font-size: 1rem;
    font-weight: bold;
}

form input{
    width:100%;
    font-size: 1rem;
    padding: 0.7rem 15rem 0.7rem 1rem;
    border-radius: var(--radius);
    border:0.2px solid grey;
    /* padding-left:10px; */
}

form input{
    box-shadow: 0px 2px 4px grey;
  }
.nav-center{
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.nav-events{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:36px;

}
button{
    padding: 0.6rem 1rem;
    border-radius: var(--radius);
    /* width:60px; */
    border: 0.25px solid black;
}

button .bar,.user{
    font-size:1.2rem;
}

button .bar{
    margin-right:0.6rem;

}
@media screen and (min-width:800px) {
    form, .nav-events span{
        display: block;
    }
    .navbar{
        margin-bottom: 0.5rem;
    }
    button{
        padding: 0.5rem 0.8rem;
    }
}
